/* Shamelessly stolen from https://css-tricks.com/star-ratings/ */

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: #FFC107;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "star";
   position: absolute;
}
